.typewriter-container {
    display: flex;
    align-items: center;
    margin: 1vw 0 0 1.7vw;
    height: 1.6vw;
    font-size: clamp(1.2rem, 2vw, 22px);
}

.typewriter-txt {
    margin: 0;
    font-size: clamp(1.2rem, 2vw, 30px);
    font-weight: 200;
    font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

@media screen and (max-width: 479px) and (min-width: 280px) {
    .typewriter-container {
        margin: 1.5vh 0 0 5vw;
    }
}